# LinkedIn Authentication
LINKEDIN_SESSION_COOKIE=
LINKEDIN_EMAIL=
LINKEDIN_PASSWORD=

# Resend Email
RESEND_API_KEY=
RESEND_FROM_EMAIL=Rhigden <rhigden@syntolabs.xyz>

# Cal.com
CAL_API_KEY=

# Optional
ANTHROPIC_API_KEY=
APOLLO_API_KEY=
